<div style="display: flex; flex-direction: column; gap: 32px; align-items: flex-start;">
  <div style="width: 100%;">
    <h3 style="font-size: 1.1em; font-weight: 500;">Reviewer</h3>
    <div style="display: flex; flex-direction: column;">
      <div style="font-size: 1em; margin-bottom: 10px;">
        Neurips, ICLR, ICML, IEEE Transactions on Big Data
      </div>
    </div>
</div>
